body {
    padding-top: 120px;
  }
  
  .menu {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: top .3s ease-in-out;
    background-color: #f8f8f8;
    height: 60px;
    line-height: 60px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #e7e7e7;
  }
  
  .logo {
    position: absolute;
    left: 50px;
    height: 35px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .logo-two {
    position: absolute;
    left: 80px;
    height: 35px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .menu ul li {
    display: inline;
    margin: 0 15px;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  #menu2 {
    top: 60px;
    background-color: #2e2d2d;
    border: none;
  }
  
  #menu2 ul li a {
    color: #fff !important;
    font-weight: bold;
    text-transform: uppercase;
  }
  