

.hero {
    
    background-image: url('/build/images/Hero/hero.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    width: 100%; /* Especificar a largura total do container */
    height: 80%;
   

    
    
    .container {
        position: relative;
    }
    .content {
        position: absolute;
        bottom: - 20%;
        width: 60%;
        background-color: white;
        left: 20%;
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
        h1 {
            font-size: 65px;
            width: 60%;
            margin: auto; /* Adicionado para centralizar o h1 */
        }
        p {
            margin-top: 28px;
            font-size: 20px;
        }
    }
    .blanc {
        position: absolute; /* Posição absoluta para que siga o fluxo do documento */
        top: 100vh; /* Coloca a div 'blanc' logo após a seção do herói */
        width: 100%; /* Especifica a largura total do container */
        height: 20px;  /* 100% da altura da janela de visualização */
        background-color: white;  /* Cor de fundo branca */
        transform: translateY(10%); /* Mover para baixo */
    }
    
}

